<%- include ( "header" ) -%> 

<h2>
    This is an about page !
</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint aut itaque tempore ratione magni consequatur commodi cupiditate illo sunt incidunt facere iusto reiciendis, est porro nulla blanditiis exercitationem modi aliquam!</p>

<%- include ( "footer" ) -%> 